<div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSend(f)" #f="ngForm">
             
        <h2>Customer Support</h2>

          <div class="form-group">
            <label for="customerName">Name (Optional): </label>
            <input type="text" id="customerName" name="customerName" ngModel class="form-control" >
          </div>
         
        
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="Message">Message: </label>
        <textarea class="form-control" rows="5" id="comment" ngModel name="comment" class="form-control" required></textarea>
    
        </div>

      <div class="form-group">
        <label for="uploadFile">Upload File: </label><br>
        <button type="button">Choose File</button><span>No File Chosen</span>
      </div>
    
      
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Send</button>
    </form>
  </div>
</div>
</div>





